.container{
    width: 80%;
    margin: 10px auto;
}
.box-1{
    padding: 5px 10px;
    background-color: #333333;
    color: #ffffff;
    border: 2px solid red;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.box-1 h3{
    text-align: center;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;
    text-decoration: underline;
    text-transform: uppercase;
}
#bottom-bar{
    width: 100%;
    background-color: rgb(76, 161, 189);
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}